.App {
    background-color: green;
}

.yes { background: green; }

.maybe { background: yellow; }

.no { background: grey; }

.unused { background: lightgrey;}

.guess-wrapper {
    background-color: greenyellow;
}

.wordleContainer-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: lightskyblue;
    margin: 0 auto;
    width: 70vw;
    td {
        margin: 0 auto;
        // width: 50vw;
        padding: 10px;
        border: 1px solid black;
    }
}

.board-wrapper, .letterlist-wrapper { width: 50%; } 

.letterlist-wrapper {
    align-content: center;
    justify-content: center;
    span {
        height: max-content;
        padding: 4px;
        border: 1px solid black;
    }
}

.options-wrapper {
    display: grid;
    width: 40vw;
    margin: 0 auto;
    text-align: center;
    column-gap: 4px;
    grid-template-columns: repeat(5, 1fr);
    div {
        display: grid;
        .no {
            text-decoration: line-through;
        }
    }
    .finalLetter {
        height: 20px;
        border-bottom: 1px solid black;
        background: burlywood;
    }
}